@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "DM Sans", "sans-serif";
}

.bg-light {
  background-color: rgba(0, 0, 0, 0.5);
}

.muted {
  color: #777777;
}

.sidebar-backdrop {
  background-color: rgba(0, 0, 0, 0.2);
}
